# Copy this file to .env and fill in your keys

OPENAI_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=student-travel-planner
OPENCHARGEMAP_API_KEY=