beautifulsoup4
chromadb
colorama
fastapi
folium
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langgraph
langsmith
openai
python-dotenv
requests
streamlit
streamlit-folium
streamlit-js-eval
tenacity
tiktoken
uvicorn